{{!--  bottom content --}}

<div class="song-bar">
    <div class="active-song song--current">
        <img class="playlist-cover-small" src="/images/victoria.png" alt="playlist-cover-small">
        <div class="song-info">
            <h2 class="song-title">Du Hast</h2>
            <p class="song-description">Rammstein</p>
        </div>
    </div>
    <div class="song--current">
        <svg class="song-btn" xmlns="http://www.w3.org/2000/svg" width="18.396" height="13.567" viewBox="0 0 18.396 13.567" fill="#535353">
            <path id="Path_3" data-name="Path 3" d="M8.867,24.949a.767.767,0,1,1,0-1.533,5.923,5.923,0,0,0,4.139-1.686A.759.759,0,1,1,14.079,22.8,7.433,7.433,0,0,1,8.867,24.949Z" transform="translate(-8.1 -13.605)"/>
            <path id="Path_4" data-name="Path 4" d="M26.29,23.068l-2.146,2.146a.828.828,0,0,1-.537.23.7.7,0,0,1-.537-.23.741.741,0,0,1,0-1.073l.843-.843H22.151a7.3,7.3,0,0,1-5.212-2.146l-3.833-3.833a5.923,5.923,0,0,0-4.139-1.686.767.767,0,0,1,0-1.533,7.433,7.433,0,0,1,5.212,2.146l3.833,3.833a6.062,6.062,0,0,0,4.139,1.686h1.763l-.843-.843a.759.759,0,0,1,1.073-1.073L26.29,22A.74.74,0,0,1,26.29,23.068Z" transform="translate(-8.123 -11.877)"/>
            <path id="Path_5" data-name="Path 5" d="M28.881,14.649,26.735,16.8a.828.828,0,0,1-.537.23.7.7,0,0,1-.537-.23.741.741,0,0,1,0-1.073l.843-.843H24.742A5.923,5.923,0,0,0,20.6,16.566a.828.828,0,0,1-.537.23.7.7,0,0,1-.537-.23.741.741,0,0,1,0-1.073,7.3,7.3,0,0,1,5.212-2.146h1.763l-.843-.843a.759.759,0,0,1,1.073-1.073l2.146,2.146A.74.74,0,0,1,28.881,14.649Z" transform="translate(-10.715 -11.2)"/>
        </svg>
        <svg class="song-btn" xmlns="http://www.w3.org/2000/svg" width="15.558" height="17" viewBox="0 0 15.558 17" fill="#535353">
            <g id="Group_2" data-name="Group 2" transform="translate(-0.24 -0.028)">
                <path id="Path_2" data-name="Path 2" d="M21.745,23.237a1.415,1.415,0,0,0,.745-.212,1.429,1.429,0,0,0,.671-1.212V10.424A1.416,1.416,0,0,0,21.112,9.15L9.783,14.845a1.429,1.429,0,0,0,0,2.548l11.329,5.695A1.416,1.416,0,0,0,21.745,23.237Z" transform="translate(-7.364 -8.13)"/>
                <rect id="Rectangle_2" data-name="Rectangle 2" width="3" height="17" rx="1" transform="translate(0.24 0.028)"/>
            </g>
        </svg>
        {{#button 'submit' 'play-music'}}
        <svg class="song-btn" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
            <g id="Group_1" data-name="Group 1" transform="translate(-0.321 0.379)">
                <circle id="Ellipse_1" data-name="Ellipse 1" cx="18" cy="18" r="18" transform="translate(0.321 -0.379)" fill="#fff"/>
                <path id="Path_1" data-name="Path 1" d="M10.327,24.916a1.171,1.171,0,0,1-.7-.237A1.688,1.688,0,0,1,9,23.324V10.592a1.686,1.686,0,0,1,.629-1.354,1.143,1.143,0,0,1,1.291-.07l10.615,6.366a1.75,1.75,0,0,1,0,2.849L10.92,24.749A1.155,1.155,0,0,1,10.327,24.916Z" transform="translate(4.173 0.784)" fill="#000000"/>
            </g>
        </svg>
        {{/button}}
        <svg class="song-btn" xmlns="http://www.w3.org/2000/svg" width="15.582" height="17" viewBox="0 0 15.582 17" fill="#535353">
            <g id="Group_3" data-name="Group 3" transform="translate(0 -0.028)">
                <path id="Path_2" data-name="Path 2" d="M10.416,23.237a1.415,1.415,0,0,1-.745-.212A1.429,1.429,0,0,1,9,21.813V10.424A1.416,1.416,0,0,1,11.049,9.15l11.329,5.695a1.429,1.429,0,0,1,0,2.548L11.049,23.088A1.416,1.416,0,0,1,10.416,23.237Z" transform="translate(-9 -8.13)"/>
                <rect id="Rectangle_2" data-name="Rectangle 2" width="2" height="17" rx="1" transform="translate(13.582 0.028)"/>
            </g>
        </svg>
        <svg class="song-btn" xmlns="http://www.w3.org/2000/svg" width="16.006" height="15.153" viewBox="0 0 16.006 15.153" fill="#535353">
            <g id="Group_5" data-name="Group 5" transform="translate(0.75 0.75)">
                <path id="Union_1" data-name="Union 1" d="M-791.319-956.676l-3.641-2.478a.674.674,0,0,1-.252-.555.673.673,0,0,1,.252-.554l3.641-2.478a.354.354,0,0,1,.443.027.693.693,0,0,1,.216.527v1.393h1.507a1.115,1.115,0,0,0,.855-.318,2.473,2.473,0,0,0,.509-1.552v-.006c0-.041-.063-4.082-.063-6.291a1.336,1.336,0,0,0-.332-1.011,1.355,1.355,0,0,0-.908-.292.427.427,0,0,1-.059,0h-10.426a1.162,1.162,0,0,0-.876.3,1.518,1.518,0,0,0-.342.977v6.307a1.952,1.952,0,0,0,.606,1.656,1.238,1.238,0,0,0,.619.231h1.625a.75.75,0,0,1,.75.75.75.75,0,0,1-.75.751h-1.636a2.688,2.688,0,0,1-1.795-.779,3.533,3.533,0,0,1-.92-2.608v-6.267A3.008,3.008,0,0,1-801.54-971a2.616,2.616,0,0,1,1.964-.762h10.4a2.842,2.842,0,0,1,2,.679,2.747,2.747,0,0,1,.824,2.122c0,2.172.06,6.134.062,6.265a3.94,3.94,0,0,1-.935,2.633,2.626,2.626,0,0,1-1.929.77h-1.507v2.063a.694.694,0,0,1-.216.527.37.37,0,0,1-.239.092A.363.363,0,0,1-791.319-956.676Z" transform="translate(801.544 971.014)"/>
            </g>
        </svg>
    </div>
    <div class="song--current">
        <svg id="Group_7" data-name="Group 7" xmlns="http://www.w3.org/2000/svg" width="140.696" height="16.766" viewBox="0 0 140.696 16.766">
            <line id="Line_2" data-name="Line 2" x2="111.58" transform="translate(27.616 8.383)" fill="none" stroke="#535353" stroke-linecap="round" stroke-width="3"/>
            <g id="Group_6" data-name="Group 6" transform="translate(0 0)">
                <path id="Path_10" data-name="Path 10" d="M9.732,17.766h-.7a1.812,1.812,0,0,1-1.271-.526L4.868,14.349a.6.6,0,0,0-.423-.176h-1.9a1.8,1.8,0,0,1-1.8-1.8V6.389a1.8,1.8,0,0,1,1.8-1.8h1.9a.6.6,0,0,0,.424-.175L7.76,1.527A1.805,1.805,0,0,1,9.03,1h.7a1.8,1.8,0,0,1,1.8,1.8V15.969A1.8,1.8,0,0,1,9.732,17.766ZM2.546,5.79a.6.6,0,0,0-.6.6v5.988a.6.6,0,0,0,.6.6h1.9a1.812,1.812,0,0,1,1.271.526l2.891,2.891a.6.6,0,0,0,.423.176h.7a.6.6,0,0,0,.6-.6V2.8a.6.6,0,0,0-.6-.6h-.7a.6.6,0,0,0-.423.175L5.715,5.264a1.808,1.808,0,0,1-1.269.526Zm10.778,6.825a.6.6,0,0,1-.406-1.039,2.959,2.959,0,0,0,0-4.387.6.6,0,1,1,.812-.881,4.157,4.157,0,0,1,0,6.149.6.6,0,0,1-.406.158Z" transform="translate(-0.75 -1)" fill="#535353"/>
                <path id="Path_11" data-name="Path 11" d="M11.349,15.063a.6.6,0,0,1-.243-1.146,5.374,5.374,0,0,0,0-9.834.6.6,0,1,1,.486-1.095,6.573,6.573,0,0,1,0,12.025.6.6,0,0,1-.243.05Z" transform="translate(1.225 -0.617)" fill="#535353"/>
            </g>
            <line id="Line_4" data-name="Line 4" x2="43.58" transform="translate(27.616 8.383)" fill="none" stroke="#1db954" stroke-linecap="round" stroke-width="3"/>
            <circle id="Ellipse_2" data-name="Ellipse 2" cx="4.5" cy="4.5" r="4.5" transform="translate(67.696 4)" fill="#1db954"/>
        </svg>
    </div>
</div>