{{!--  main content --}}

<div class="content">
    <div class="header">
        <div class="main-header">
            <img class="playlist-cover" src="/images/victoria.png" alt="playlist-cover">
            <div class="playlist-info">
                <p class="small-title">profile</p>
                <h1>Username</h1>
                <p class="description">You are an admin.</p>
            </div>
        </div>
        <div class="">
            <div class="profile">
                <img class="profile-img"src="/images/victoria.png" alt="profile-img">
                <a href="/" class="link go-to">Go to profile</a>
            </div>
            <div id="theme-switcher" class="switch">
                <div class="switch__circle"></div>
            </div>
        </div>
    </div>
    <div class="list">
        <h2>Dit is jouw profiel</h2>
        <br>
        <p><strong>email: </strong>test@test.com</p>
        <br>
        <p><strong>Voornaam: </strong>test</p>
        <br>
        <p><strong>Achternaam: </strong>test</p>
        <br>
        <form method="post" action="/logout">
            <button type="submit" class="btn btn-logout">Logout</button>
        </form>
    </div>  
</div>